.mezo {
    -fx-background-color: whitesmoke;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-box-sizing: border-box;
}

.mezo.sotethatter {
    -fx-background-color: #8B4513;
}

.mezo.vilagoshatter {
    -fx-background-color: #F2F2F2;
}

.mezo:hover {
    -fx-background-color: gold !important;
    -fx-cursor: hand !important;
}

.kivalasztva {
    -fx-background-color: green !important;
}

#tabla {
    -fx-border-color: lime;
    -fx-border-width: 10px;
}
